@media (max-width:768px) {
    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 18px;
    }

    p {
        font-size: 14px;
    }

    .btn {
        font-size: 14px;
        padding: 14px 24px;
        display: block;

        &-back {
            margin-top: 15px;
            margin-left: 0px;
        }
    }

    .jumbotron {
        img {
            width: 100%;
        }
    }

    .slider {
        .swiper-container {
            .swiper-wrapper {
                :nth-child(1) {
                    background: url('../img/banner1-mobile.jpg');
                    background-position: center;
                    background-size: cover;
                }

                :nth-child(2) {
                    background: url('../img/banner2-mobile.jpg');
                    background-position: center;
                    background-size: cover;
                }

                :nth-child(3) {
                    background: url('../img/banner3-mobile.jpg');
                    background-position: center;
                    background-size: cover;
                }
            }
        }
    }

    .unggulan {
        margin-bottom: 60px;

        .lihat-semua-game {

            .btn {
                margin-top: 30px;
            }
        }
    }

    .detail {
        margin-bottom: 60px;

        &-box {
            li {
                font-size: 14px;
            }
        }

        &-screenshot {
            padding: 40px 30px;

            img {
                margin-top: 15px;
            }
        }
    }

    .footer {
        text-align: center;

        ul {
            li {
                font-size: 14px;
            }
        }

        &-center {
            margin-top: 10px;
        }

        &-right {
            margin-top: 10px;
            text-align: center;
        }
    }
}