* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
}

h1 {
  font-size: 40px;
  font-weight: 700;
}

.tombol-whatsapp {
  position: fixed;
  right: 20px;
  bottom: 20px;
  padding: 15px;
  border-radius: 100%;
  background: #00a100;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.tombol-whatsapp:hover .overlay {
  display: block;
  opacity: 0.2;
}

.tombol-whatsapp img {
  width: 30px;
  height: 30px;
}

.tombol-whatsapp .overlay {
  pointer-events: none;
  opacity: 0;
  border-radius: 100%;
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.btn-primary {
  padding: 16px 36px;
  border-radius: 100px;
  background: -webkit-gradient(linear, left top, left bottom, from(#007bff), to(#4115FF));
  background: linear-gradient(to bottom, #007bff, #4115FF);
  outline: none;
  border: none;
}

.btn-primary:hover {
  -webkit-box-shadow: 0px 0px 20px 5px rgba(0, 123, 255, 0.3);
          box-shadow: 0px 0px 20px 5px rgba(0, 123, 255, 0.3);
}

.btn-back {
  padding: 16px 36px;
  border-radius: 100px;
  background: -webkit-gradient(linear, left top, left bottom, from(#eb1515), to(#eb6715));
  background: linear-gradient(to bottom, #eb1515, #eb6715);
  outline: none;
  border: none;
  color: white;
  margin-left: 20px;
}

.btn-back:hover {
  color: white;
  -webkit-box-shadow: 0px 0px 20px 5px rgba(235, 21, 21, 0.3);
          box-shadow: 0px 0px 20px 5px rgba(235, 21, 21, 0.3);
}

h2 {
  font-size: 30px;
  font-weight: 700;
}

h3 {
  font-size: 24px;
  font-weight: 600;
}

p {
  font-weight: 400;
}

body {
  background-color: #080C28 !important;
  font-family: 'Poppins', sans-serif;
}

.navbar {
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  background-color: none;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.navbar img {
  height: 60px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.scrolled {
  background-color: #141E4B;
  -webkit-box-shadow: 50px 0px 10px black;
          box-shadow: 50px 0px 10px black;
}

.scrolled img {
  height: 45px;
}

.jumbotron {
  background: #080C28;
  text-align: center;
}

.jumbotron img {
  margin-top: 60px;
  width: 70%;
}

.jumbotron h1,
.jumbotron p {
  margin-top: 20px;
}

.slider {
  margin: 120px 0px;
  margin-top: 60px;
}

.slider .swiper-container {
  width: 100%;
  height: 400px;
}

.slider .swiper-container .swiper-pagination-bullet {
  background: black;
}

.slider .swiper-container .swiper-button-prev {
  color: black;
}

.slider .swiper-container .swiper-button-next {
  color: black;
}

.slider .swiper-container .swiper-wrapper :nth-child(1) {
  background: url("../img/banner1.jpg");
  background-position: center;
  background-size: cover;
}

.slider .swiper-container .swiper-wrapper :nth-child(2) {
  background: url("../img/banner2.jpg");
  background-position: center;
  background-size: cover;
}

.slider .swiper-container .swiper-wrapper :nth-child(3) {
  background: url("../img/banner3.jpg");
  background-position: center;
  background-size: cover;
}

.slider .swiper-container .swiper-slide {
  background: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 60px;
  color: #000;
}

.unggulan {
  margin-bottom: 120px;
}

.unggulan .diskon {
  display: inline-block;
  font-size: 14px;
  padding-right: 5px;
  text-decoration: line-through;
  font-weight: 400;
}

.unggulan .game-box {
  margin-top: 30px;
}

.unggulan .game-box img {
  border-radius: 5px;
  width: 100%;
}

.unggulan .game-box a {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.unggulan .game-box a:hover {
  text-decoration: none;
}

.unggulan .game-box a:hover img {
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 123, 255, 0.5);
          box-shadow: 0px 0px 10px 2px rgba(0, 123, 255, 0.5);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  mix-blend-mode: lighten;
}

.unggulan .game-box .nama-game {
  font-size: 14px;
  margin: 0px !important;
  margin-top: 10px !important;
}

.unggulan .game-box .harga {
  margin-top: 10px !important;
  margin-bottom: 0px !important;
  font-weight: 700;
}

.unggulan .lihat-semua-game {
  text-align: center;
}

.unggulan .lihat-semua-game .btn {
  margin-top: 60px;
}

.footer {
  background: #141E4B;
  padding: 30px 0px;
  padding-bottom: 20px;
}

.footer-left ul {
  margin-top: 10px;
}

.footer-left ul li {
  line-height: 30px;
  list-style: none;
}

.footer-left ul li a {
  color: white;
  text-decoration: none;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.footer-left ul li a:hover {
  color: #5364dd;
}

.footer-center {
  text-align: center;
}

.footer-center img {
  margin-bottom: 15px;
}

.footer-center p {
  font-size: 14px;
}

.footer-right {
  text-align: right;
}

.footer-right ul {
  margin-top: 10px;
}

.footer-right ul li {
  line-height: 30px;
  list-style: none;
}

.footer-right ul li a {
  color: white;
  text-decoration: none;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.footer-right ul li a:hover {
  color: #5364dd;
}

.detail {
  margin: 120px 0px;
}

.detail-screenshot h3 {
  margin-bottom: 20px;
}

.detail-screenshot img {
  border-radius: 10px;
}

.detail-box {
  margin: 30px 0px;
  padding: 30px;
  padding-bottom: 15px;
  background: #141E4B;
  border-radius: 10px;
}

.detail img {
  width: 100%;
}

.detail-nama-game {
  margin-top: 15px;
  font-weight: 400;
}

.detail-harga-game {
  display: inline-block;
  border-radius: 10px;
  padding: 10px 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(#007bff), to(#4115FF));
  background: linear-gradient(to bottom, #007bff, #4115FF);
  margin-top: 10px;
}

.detail ul li {
  margin-left: 16px;
  line-height: 30px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 18px;
  }
  p {
    font-size: 14px;
  }
  .btn {
    font-size: 14px;
    padding: 14px 24px;
    display: block;
  }
  .btn-back {
    margin-top: 15px;
    margin-left: 0px;
  }
  .jumbotron img {
    width: 100%;
  }
  .unggulan {
    margin-bottom: 60px;
  }
  .unggulan .lihat-semua-game .btn {
    margin-top: 30px;
  }
  .detail {
    margin-bottom: 60px;
  }
  .detail-box li {
    font-size: 14px;
  }
  .detail-screenshot {
    padding: 40px 30px;
  }
  .detail-screenshot img {
    margin-top: 15px;
  }
  .footer {
    text-align: center;
  }
  .footer ul li {
    font-size: 14px;
  }
  .footer-center {
    margin-top: 10px;
  }
  .footer-right {
    margin-top: 10px;
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */